flows/user-data/nr-flows.json
[{"id":"9447a07d.c7928","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6a46c752.0de168","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"76ef1d23.a5de64","type":"mongodb3","z":"","uri":"mongodb://localhost:27017/lms","name":"lms","options":"","parallelism":"-1"},{"id":"7a085b86.577604","type":"mongodb-config","z":"","hostname":"127.0.0.1","port":"27017","db":"","name":""},{"id":"418f87cf.f326f8","type":"mongodb-config","z":"","hostname":"mongodb://localhost","port":"27017","db":"lms","name":""},{"id":"5cee0e77.1c4b4","type":"mongodb3","z":"","uri":"mongodb://localhost:27017/lms","name":"Local Mongo","options":"","parallelism":"-1"},{"id":"5d0d0e8e.fdd67","type":"mongodb2","z":"6a46c752.0de168","uri":"mongodb://localhost:27017/db","name":"db","options":"","parallelism":"-1"},{"id":"62511a78.0615f4","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/lms","name":"update","options":"","parallelism":"-1"},{"id":"72bef8df.ecdbf8","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/db","name":"db","options":"","parallelism":"-1"},{"id":"ec14ab0a.70e458","type":"mongodb3","z":"","uri":"mongodb://127.0.0.1:27017/myapp","name":"Local Mongo","options":"","parallelism":"-1"},{"id":"7de1e55d.eff1bc","type":"mongodb3 in","z":"9447a07d.c7928","service":"_ext_","configNode":"76ef1d23.a5de64","name":"","collection":"registerData","operation":"save","x":460,"y":160,"wires":[["7077b75f.ac7938","276609e1.28fb56"]]},{"id":"d6bd1d3e.6bf0c","type":"http in","z":"9447a07d.c7928","name":"","url":"/registerdata","method":"post","upload":false,"swaggerDoc":"","x":140,"y":80,"wires":[["89c6897a.0b4bd8"]]},{"id":"7077b75f.ac7938","type":"http response","z":"9447a07d.c7928","name":"","statusCode":"","headers":{},"x":650,"y":100,"wires":[]},{"id":"276609e1.28fb56","type":"debug","z":"9447a07d.c7928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":220,"wires":[]},{"id":"89c6897a.0b4bd8","type":"function","z":"9447a07d.c7928","name":"","func":"msg.payload = msg.req.body;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":160,"wires":[["7de1e55d.eff1bc"]]},{"id":"4042b83a.a72518","type":"http in","z":"9447a07d.c7928","name":"","url":"/getRegisterData","method":"get","upload":false,"swaggerDoc":"","x":130,"y":260,"wires":[["1680535b.63fd8d"]]},{"id":"1680535b.63fd8d","type":"mongodb3 in","z":"9447a07d.c7928","service":"_ext_","configNode":"76ef1d23.a5de64","name":"","collection":"registerData","operation":"find.toArray","x":380,"y":340,"wires":[["b9d9c0b8.3a1fd","bc98414f.d89d6"]]},{"id":"bc98414f.d89d6","type":"debug","z":"9447a07d.c7928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":400,"wires":[]},{"id":"b9d9c0b8.3a1fd","type":"http response","z":"9447a07d.c7928","name":"","statusCode":"","headers":{},"x":600,"y":320,"wires":[]},{"id":"bb1ea99a.326ab8","type":"http in","z":"9447a07d.c7928","name":"","url":"/deleteRegisterData","method":"post","upload":true,"swaggerDoc":"","x":120,"y":400,"wires":[["4a83b4ed.3fc0bc"]]},{"id":"103ca3c6.1b704c","type":"mongodb3 in","z":"9447a07d.c7928","service":"_ext_","configNode":"76ef1d23.a5de64","name":"","collection":"registerData","operation":"deleteOne","x":400,"y":540,"wires":[["c733abff.17dd88","c63b9abe.bb6f28"]]},{"id":"4a83b4ed.3fc0bc","type":"function","z":"9447a07d.c7928","name":"","func":"msg._id = msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":460,"wires":[["35ab4e5d.d18a52"]]},{"id":"c733abff.17dd88","type":"http response","z":"9447a07d.c7928","name":"","statusCode":"","headers":{},"x":620,"y":480,"wires":[]},{"id":"c63b9abe.bb6f28","type":"debug","z":"9447a07d.c7928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":580,"wires":[]},{"id":"7f324f92.c28bf","type":"debug","z":"9447a07d.c7928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":800,"wires":[]},{"id":"acd81f1e.5bc5f","type":"mongodb3 in","z":"9447a07d.c7928","service":"_ext_","configNode":"5cee0e77.1c4b4","name":"","collection":"registerData","operation":"","x":410,"y":700,"wires":[["7f324f92.c28bf","940cc79a.364c48"]]},{"id":"d069be07.36a4e","type":"function","z":"9447a07d.c7928","name":"Function Query","func":"var newMsg = { \n  'collection': 'registerData', \n  'operation': 'update',\n  'query': {\n    \"name\": \"zabeer\",\n  },\n  'payload': { \n      $set: {\n          \"name\" : \"ammiitt\"\n      }\n   } \n}; \nreturn newMsg;","outputs":1,"noerr":0,"x":220,"y":780,"wires":[["acd81f1e.5bc5f"]]},{"id":"1be800ef.39be3f","type":"http in","z":"9447a07d.c7928","name":"","url":"/update1","method":"post","upload":false,"swaggerDoc":"","x":90,"y":640,"wires":[["d069be07.36a4e"]]},{"id":"35ab4e5d.d18a52","type":"objectid","z":"9447a07d.c7928","name":"","selectedProperty":"_id","x":330,"y":500,"wires":[["103ca3c6.1b704c"]]},{"id":"940cc79a.364c48","type":"http response","z":"9447a07d.c7928","name":"","statusCode":"","headers":{},"x":630,"y":660,"wires":[]},{"id":"425100d5.de9fd","type":"http in","z":"9447a07d.c7928","name":"","url":"/updateuser","method":"post","upload":false,"swaggerDoc":"","x":160,"y":920,"wires":[["6012581a.00cac8"]]},{"id":"6012581a.00cac8","type":"function","z":"9447a07d.c7928","name":"","func":"msg._id = msg.payload._id\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":920,"wires":[["911c9c37.92404"]]},{"id":"911c9c37.92404","type":"objectid","z":"9447a07d.c7928","name":"","selectedProperty":"_id","x":470,"y":920,"wires":[["2ecddd80.d1d6d2"]]},{"id":"2ecddd80.d1d6d2","type":"mongodb3 in","z":"9447a07d.c7928","service":"_ext_","configNode":"5cee0e77.1c4b4","name":"","collection":"registerData","operation":"update","x":420,"y":1060,"wires":[["f4163dcf.6b301","aa91ccc3.bf203"]]},{"id":"f4163dcf.6b301","type":"http response","z":"9447a07d.c7928","name":"","statusCode":"","headers":{},"x":600,"y":1140,"wires":[]},{"id":"aa91ccc3.bf203","type":"debug","z":"9447a07d.c7928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":1000,"wires":[]},{"id":"18f570fe.a7ca4f","type":"http in","z":"9447a07d.c7928","name":"","url":"/updatedata","method":"put","upload":false,"swaggerDoc":"","x":130,"y":1200,"wires":[["2d5d4ed2.c5c392"]]},{"id":"80b71cd2.8d4d1","type":"mongodb2 in","z":"9447a07d.c7928","service":"_ext_","configNode":"62511a78.0615f4","name":"","collection":"registerData","operation":"updateOne","x":630,"y":1280,"wires":[["f9e70ef.1e5f2f"]]},{"id":"61ee15f3.f67d9c","type":"http response","z":"9447a07d.c7928","name":"","x":1030,"y":1160,"wires":[]},{"id":"244ae98b.02d546","type":"function","z":"9447a07d.c7928","name":"update request","func":"/*\nmsg.result correspond à l'objet mis à jour,\nle delete permet de supprimer la propriété\n_id de l'objet, en effet l'_id est géré directement\npar le noued OjectId\npour la requète update  \non doit fournir un tableau \n[\n<query>,\n<valeur mises à jour>\n]\n\nici ce sera de la forme:\n[\n    {_id:ObjectId(\"xxx\")},\n    {\"nom\": \"toto\", \"prenom\": \"tutu\", \n        \"immatriculation\": \"AB123CD\", \n        \"heure\": null, \"minute\": null\n    }\n]\n*/\nmsg.result=msg.req.body;\ndelete msg.req.body._id;\nmsg.payload=[\n   msg.payload,\n   msg.req.body\n    ];\nreturn msg;\n\n","outputs":"1","noerr":0,"x":480,"y":1480,"wires":[["80b71cd2.8d4d1"]]},{"id":"2d5d4ed2.c5c392","type":"function","z":"9447a07d.c7928","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1280,"wires":[["bce62ac8.6b2208"]]},{"id":"f9e70ef.1e5f2f","type":"function","z":"9447a07d.c7928","name":"callback response","func":"/*\npour que la jsGrid soit rafraichie, \nil faut lui envoyer l'objet qui a été mis à jour\n*/\nmsg.payload=msg.result;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":1220,"wires":[["61ee15f3.f67d9c","7e3e8172.2ce81"]]},{"id":"7e3e8172.2ce81","type":"debug","z":"9447a07d.c7928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1000,"y":1280,"wires":[]},{"id":"bce62ac8.6b2208","type":"objectid","z":"9447a07d.c7928","name":"","selectedProperty":"_id","x":340,"y":1400,"wires":[["244ae98b.02d546"]]},{"id":"b18358fa.582b08","type":"http in","z":"9447a07d.c7928","name":"","url":"/login","method":"post","upload":false,"swaggerDoc":"","x":120,"y":1680,"wires":[["e537166b.813238"]]},{"id":"52e0a94a.dced18","type":"mongodb3 in","z":"9447a07d.c7928","service":"_ext_","configNode":"5cee0e77.1c4b4","name":"","collection":"registerData","operation":"findOne","x":500,"y":1740,"wires":[["329a5a7.05019a6","a3f11bd3.d1b5f8"]]},{"id":"e537166b.813238","type":"function","z":"9447a07d.c7928","name":"","func":"msg.payload = msg.req.body;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1700,"wires":[["52e0a94a.dced18"]]},{"id":"329a5a7.05019a6","type":"http response","z":"9447a07d.c7928","name":"","statusCode":"","headers":{},"x":740,"y":1660,"wires":[]},{"id":"a3f11bd3.d1b5f8","type":"debug","z":"9447a07d.c7928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":1800,"wires":[]}]